html {
  background-color: #1e1e1e;
}

#body {
    background-color: #3e3e3e;
    height: 100%;
    padding-block-start: 1px;
    padding-inline-start: 1em;
    margin-left: 2em;
    margin-right: 2em;
    color: white;
}

ul.bar-items {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3e3e3e;
  text-align: left;
  border-bottom: 3px solid #fff;
}

ul.bar-items li {
  float: left;
}

ul.bar-items li a:hover {
  background-color: #7e7e7e;
}

ul.sections {
  padding-left: 0;
}

ul.sections li {
  list-style: none;
  overflow: hidden;
  text-align: left;
  padding-bottom: 10px;
  padding-right: 1em;
}

ul.sections li a {
  color: white;
  display: block;
  position: relative;
  padding: 15px;
  line-height: 15px;
  padding-left: 18px;
  text-decoration: none;
  background-color: #2e2e2e;
  border-left: 1px solid white;
  transition: 0.3s;
}

ul.sections li a:hover {
  background-color: antiquewhite;
  color: #2e2e2e;
  border-left: 3px solid #2e2e2e;
  padding-left: 15px;
}

ul.bar-items li a {
  color: white;
  display: block;
  position: relative;
  padding: 15px 15px 14px;
  line-height: 16px;
  text-decoration: none;
}

ul.bar-items li#title {
  float: right;
  border-left: 1px solid white;
}

ul.bar-items li#username {
  float: right;
}
