html {
  background-color: #1e1e1e;
}

#body {
  background-color: #3e3e3e;
  height: auto;
  padding: 1em;
  margin: 1em;
  color: white;
}

ul.bar-items {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3e3e3e;
  text-align: left;
  border-bottom: 1px solid #fff;
}

ul.bar-items li {
  float: left;
}

ul.bar-items li a:hover {
  background-color: #7e7e7e;
  opacity: 1;
}

ul.sections {
  padding-left: 0;
}

ul.sections li {
  list-style: none;
  overflow: hidden;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 1em;
  padding-right: 1em;
}

ul.sections li a {
  color: white;
  display: block;
  position: relative;
  padding: 15px;
  line-height: 15px;
  padding-left: 18px;
  text-decoration: none;
  background-color: #2e2e2e;
  border-left: 1px solid white;
  transition: 0.3s;
}

ul.sections li a:hover {
  background-color: antiquewhite;
  color: #2e2e2e;
  border-left: 3px solid #2e2e2e;
  padding-left: 15px;
}

ul.bar-items li a {
  color: white;
  display: block;
  position: relative;
  padding: 15px 15px 14px;
  line-height: 16px;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.3s;
}

ul.bar-items li#title {
  float: right;
}

ul.bar-items a#title {
  opacity: 1 !important;
}

ul.bar-items li#username {
  float: right;
}

h3#subtitle {
  border-bottom: 1px solid white;
  background-color: #333;
  padding: 0.75em;
  margin-bottom: unset;
}

ul.threads {
  margin-top: 0.5em;
}

ul.threads li {
  color: white;
  display: block;
  position: relative;
  padding-bottom: 1px;
  padding-top: 10px;
  padding-right: 3em; 
  line-height: 16px;
  text-decoration: none;
}

ul.threads li a {
  color: white;
  display: block;
  position: relative;
  padding: 15px;
  line-height: 10px;
  padding-left: 18px;
  text-decoration: none;
  background-color: #2e2e2e;
  border-left: 1px solid white;
  transition: 0.3s;
}

label.username {
  font-size: 12px;
  float: right;
  opacity: 0.5;
  transition: 0.3s;
}

label.username:hover {
  opacity: 1;
}

div#footer {
  padding-left: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 2em;
  background-color: #4e4e4e;
  border: 1px solid white;
}

div#thread {
  display: flex;
  padding-bottom: 0.5em;
}

div#profile {
  background-color: #4e4e4e;
  width: fit-content;
  padding: 1em;
  font-size: 12px;
  white-space: nowrap;
  text-align: right;
}

div#post {
  padding-left: 1em;
  border-top: 3px solid #4e4e4e;
  width: 100%;
}

label#uid {
  font-size: 10px;
  padding-right: 3px;
}

div#post#content {
  margin: 0;
}

ul.posts {
  list-style: none;
  padding-left: 0;
}

div#post_div {
  display: flex;
  background-color: #4e4e4e;
}

a#username {
  padding-left: 1em;
  text-decoration: none;
  color: white;
  padding: 1em;
  -webkit-filter: saturate(0.25);
  -webkit-transition: all 0.5s ease;
}

a#username:hover {
  -webkit-filter: saturate(1);
  -webkit-transition: all 0.5s ease;
}

p#post_content {
  margin: 0;
  padding: 1em;
  padding-left: 1em;
}

li#post {
  padding-top: 0.5em;
}

input[type="text"] {
  width: -webkit-fill-available;
  margin-top: 8px;
  margin-bottom: 1em;
  padding: 12px 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  border: none;
  background-color: white;
  padding: 10px 20px;
}

input[type="password"] {
  width: -webkit-fill-available;
  margin-top: 8px;
  margin-bottom: 1em;
  padding: 12px 20px;
  box-sizing: border-box;
}

textarea#postbox {
  background-color: #4e4e4e;
  border: none;
  color: white;
  display: grid;
  resize: none;
  width: -webkit-fill-available;
  height: 7em;
}

input#postbtn {
  display: grid;
  margin: 0;
  width: -webkit-fill-available;
  background-color: hsla(0, 0%, 50%, 1);
  color: white;
}

a#logout {
  text-decoration: none;
  color: white;
}

input#thread_btn {
  float: right;
  overflow: hidden;
}

input#thd_title {
  width: 50%;
  margin-right: 50%;
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  border-style: none;
  color: white;
}

textarea#thd_content {
  width: -webkit-fill-available;
  resize: none;
  min-height: 7em;
  margin-bottom: 1em;
  background-color: #4e4e4e;
  border: none;
  color: white;
  padding: 5px;
}

p#thd_title {
    font-size: x-large;
    margin: 0;
    padding-bottom: 7px;
    padding-left: 1em;
    padding-top: 7px;
    border-left: 3px solid #4e4e4e;
    border-top: 3px solid #4e4e4e;
}

p#ip_sig {
  margin: 1em;
}

a#title_sid {
  text-decoration: none;
  color: white;
}

div#thd_info_div {
  display: flex;
  float: left;
  padding-left: 40px;
}

p#post_count {
  background-color: #2e2e2e;
  color: white;
  padding: 1em;
  margin: 0;
  border: 1px solid white;
  border-top: none;
  border-right: none;
}

p#creator_ip {
  background-color: #2e2e2e;
  color: white;
  padding: 1em;
  margin: 0;
  border: 1px solid white;
  border-top: none;
  border-left: none;
}

form#make_thread_div {
  margin: 0;
}

p#profile_username {
  font-size: x-large;
  background-color: #2e2e2e;
  padding: 0.5em;
  margin-bottom: 0;
  border-bottom: 1px solid white;
}

p#profile_uid {
  margin-top: 0;
  padding-top: 16px;
}

div#profile_content {
  display: flex;
  overflow: hidden;
}

div#profile_info {
  padding: 1em;
  border-left: 1px solid white;
  padding-top: 0;
  margin-top: 0;
  background-color: #2e2e2e;
  min-width: fit-content;
}

p#profile_reputation {
  margin-bottom: 0;
}

a.profile_link {
  float: right;
  padding-left: 1em;
  text-decoration: none;
  color: #4e4e4e;
  transition: 0.3s;
}

a.profile_link:hover {
  color: white;
}

p#profile_ip {
  margin-top: 0;
}

div#admin_prompt{
  padding: 1em;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 16px;
  margin-top: 1em;
  padding-bottom: 0;
  background-color: #2e2e2e;
}

a#profile_delete {
  text-decoration: none;
  color: #e25555;
}

a#profile_pm {
  text-decoration: none;
  color: white;
}

p#profile_pm {
  margin-bottom: 0;
}

p#profile_edit {
  margin-bottom: 0;
}

a#profile_edit {
  text-decoration: none;
  color: white;
}

a#profile_aedit {
  text-decoration: none;
  color: #e25555;
}

div#reputation {
  background-color: #2e2e2e;
  padding: 0.5em;
  padding-top: 0;
  border-right: 1px solid white;
  min-width: fit-content;
  height: fit-content;
  border-bottom: 1px solid white;
}

ul#reputation_list {
  list-style: none;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  max-width: 16em;
  word-break: break-all;
}

p#reputation_title {
  text-align: center;
}

p#reputation-empty {
  font-size: small;
}

#reputation_list > li {
  border-left: 1px solid;
  padding-left: 1em;
  font-size: smaller;
}

#reputation-form > textarea {
  width: -webkit-fill-available;
  height: 5em;
  margin-bottom: 1em;
}

#reputation-form > input[type="radio"] {
  margin-right: 1em;
  margin-left: 3;
}

#give_btn {
  float: right;
}

div#member-list {
  background-color: #4e4e4e;
  padding: 1em;
}

p#subtitle {
  font-size: larger;
  margin: 0;
}

ul#member-list {
  list-style: none;
  padding-left: 0;
  background-color: #2e2e2e;
}

p.member-item > a {
  text-decoration: none;
  color: white;
}

#member-list > li > p {
  padding: 1em;
  border-bottom: 1px solid;
  margin: 0;
}

#body > form > input {
  margin-top: 10px;
}

#body > form > textarea {
  width: -webkit-fill-available;
  height: 10em;
  margin-top: 10px;
}

div#biography {
  padding: 1em;
  background-color: #2e2e2e;
  width: -webkit-fill-available;
  height: fit-content;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 1px solid white;
  min-height: 5em;
}

p#biography {
  margin: 0;
}

div#column {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  min-height: fit-content;
}
